.boxTop1{
    position: absolute;
    background-color: #b8a9c9;
    width: 60%;
    height: 180px;
    padding: 0px;
    opacity: 0.5;
    margin: 30px 0px 0px 255px;
    z-index:3;
}

.boxTop2{
        position: absolute;
	background-color: #d6d4e0;
	width: 60%;
	height: 180px;
	padding: 0px;
        opacity: 0.5;
        margin: 10px 0px 0px 275px;
        z-index:3;
}

.sideBar{
	position: absolute;
        background-color: #5b9aa0;
	color: #d6d4e0;
	text-shadow: 2px 2px 2px #622569;
	border: 0px;
	padding: 10px;
	height: 200%;
	width: 200px;
	margin: -10px 0px -10px -10px;
	z-index:1;
}

.circle1{
	position: relative;
	height: 200px;
	width: 200px;
	background-color: #b8a9c9;
	border-radius: 50%;
	display: inline-block;
	z-index:1;
}

.circle2{
	position: relative;
	height: 185px;
	width: 185px;
	background-color: #d6d4e0;
	border-radius: 50%;
	display: inline-block;
	margin: 7px 0px 0px 7px;
	z-index:1;
}

.parallelogram{
	position: absolute;
	text-shadow: 2px 2px 2px #622569;
	color: #d6d4e0;
	width: 65%;
	height: 195px;
	transform: skew(25deg);
	background: #5b9aa0;
	margin: -10px 0px 0px 255px;
	z-index: 2;
}

.flexpostcontainer{
	background-color: #622569;
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 100%;
	margin: 295px 0px 0px 255px;
	position: absolute;
	z-index: 4;
}

.flexpostcontainer > div{
	
	
	width: 80%;
	margin: 60px 0px 0px 0px;
	background-color: #5b9aa0;
	opacity 1.0;
	z-index: 4;
	display: flex;
	min-height: 280px;
	box-shadow: 10px 10px #9c7da5;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 25px; 
}

.posttitle{
	text-align: center;
	padding: 15px;
	text-shadow: 2px 2px 2px #622569;
	color: #d6d4e0;
	display: block;
	
}

.posttext{
	text-align: center;
	padding: 15px;
	text-shadow: 2px 2px 2px #622569;
	color: #d6d4e0;
	display: block;
	
}



